*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #686c5e;
}

.color-de-fondo-nav {
    background-color: #817f7f;
}
.letra-del-nav {
    font-size: 25px;
}

h1 {
    color: black;
    font-size:  40px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: #817f7f;
}

header  nav ul {
   list-style-type: none;
   display: flex;
}

header  nav ul li {
    margin: 5px;
}

header  nav ul li a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
} 
a:hover {
    color: #686c5e;
}

footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 20px ;
    background-color: #404040;
}
footer p {
    font-size: 20px;
    font-style: normal;
    
    color: black;
}

footer  ul {
    list-style-type: none;
   display: flex;
   margin: auto 20px auto ;
}
footer ul li {
    text-decoration: none;
}

footer ul li a img:hover{
    color: #404040; 
 }

.band {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
}

.paragraph {
    text-align: center;
    margin: 30px  ;
}
/*
.contenedor {
    display: flex;
    justify-content: center;
} 
.video  {
    text-align: center;
} */

h4 {
    margin: 50px auto 50px 100px;
   /* margin-left: 600px;
   margin-top: 50px;*/
  /* text-decoration: underline;*/
  font-size: 30px;}

.disco {
    margin: 50px auto 50px auto;
 /*   margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    margin-left: 500px;
    
    align-items: center;*/
    }
 
.disco ol li {
    margin-left: 15px;
}
.form {
    margin-left: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


form {
    margin: 0 auto ; 
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #7d7a7a;
    
}
.contact {
    background-image: url(../img/in-mourning-band/foto-para-contacto.jpg);
} 
 
.contact h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}

.contact p {
    font-size: 20px;
    font-weight: bold;
}
.text-contact {
    color: rgb(12, 12, 12);
    text-shadow: 1px  0px 0px black,
    0px  1px 0px white,
   -1px  0px 0px white,
    0px -1px 0px white;
    font-weight: lighter;
}




